header{
    background-color:#BBBBBB;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.banner{
    width: 100%;
}
.principal{
    background-color: #CCCCCC;
    padding: 20px;
}
.titulo-centrado{
    text-align: center;
}
p{
    text-align: center;

    }
.mision{
    font-size: 20px;
}
.frase{
    color: red;
}
.diferenciales{
    background-color: white;
    padding: 30px;
}

.items{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.img-dif{
    width: 50%;
}
